@import "./variables.scss";
@import "./mixins.scss";

.educationWrapper {
    padding: 50px 0;
    
    h2 {
        font-size: 25px;
        color: #26C17E;
        @media (max-width: $smDesktop) {
            display: flex;
            justify-content: center;
        }
    }
    ul {
        li{
            display: flex;
            list-style-type: none;
            padding: 30px 0;
            font-size: $mediumFontSize;
            color: $primaryTextColor;
            .eduDate {
                padding-right: 30px;
            }
            .educationDescription {
                display: flex;
                flex-direction: column;
                .eduTitle {
                color: $secondaryTextcolor;
            }
            }
            
        }
    }
}