@import './variables.scss';
.app {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    .contentContainer {
        padding-left: 25px;
        height: 100vh;
        overflow-y: auto;
        .backHome{
            position: fixed;
            top: 20px;
            right: 32px;
            @include buttonStyle;
        }
    }
}