@import './variables.scss';
.app {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    .contentContainer {
        padding-left: 25px;
        height: 100vh;
        overflow-y: auto;
        .backHome{
            position: fixed;
            top: 20px;
            right: 32px;
            font-weight: 500;
            padding: 7px 14px;
            background-color: $primaryTextColor;
            color: #ffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .backHome:hover {
            background-color: $secondaryTextcolor;

        }
        
    }

}