@import "./variables.scss";
@import "./mixins.scss";

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid $primaryTextColor; 
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }  
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
  }
}
  