@import "./variables.scss";

.toggleMenu {
    text-align: center;
    background-color: $backgroundColor;
    padding: 0 2rem;
    position: relative;
    height: 100vh;
    .burger-icon {
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: -20px;
    }
    @media (max-width: $smTablet) {
        padding: 0 10px;
    }  
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100vh;
    color: #ffffff;
    .navButton {
        display: flex;
        align-items: center;
        border: none;
        background-color: #222935;
        font-size: $mediumFontSize;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;          
        .buttonText {
            @media (max-width: $smTablet) {
              display: none;
            }  
        }
    }        
    .navButton:hover {
        color: #26C17E;
    }
}