@import "./variables.scss";

.toggleMenu {
    display: flex;
    width: 27%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;

    nav {
        ul > li {
            display: flex;
            justify-content: space-between;
            list-style: none;
            text-decoration: none;
            font-size: $mediumFontSize;
            padding-left: 10px;
        }
        ul > li :active {
            color: $primaryTextColor;
        }
        ul {
            .navList {
                padding-right: 30px;
            }
            a {
                text-decoration: none;
                color: $secondaryTextcolor;
            };
        }
    }
}