@import "./variables.scss";
@import "./mixins.scss";

.portfolioContainer {
    padding: 50px 0;
    h1 {
        font-size: $largeFontsize;
        color: $primaryTextColor;
    }
    .filterSort {
        .filter > button {
            border: none;
            background-color: #ffff;
            color: $secondaryTextcolor;
            font-size: $mediumFontSize;
            font-weight: 500;
            padding: 5px 3px;
            cursor: pointer;
            &:hover {
                color: $primaryTextColor;
            }
        }
    }
    .portfolioList {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    
        .item {
          padding: 12px;
    
          .portfolioItem {
            position: relative;
            cursor: pointer;
            transition: transform 0.3s;
    
            &:hover {
              transform: scale(1.05); // Enlarge the item on hover
            }
    
            img {
              width: 100%;
              height: auto;
              transition: transform 0.3s;
            }
    
            .itemInfo {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              background-color: $secondaryTextcolor;
              color: white;
              font-size: $mediumFontSize;
              text-align: center;
              transform: translateY(100%);
              opacity: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    
              h3 {
                color: $primaryTextColor;
              }
    
              p {
                margin-top: 10px;
              }
            }
          }
    
          &:hover .portfolioItem .itemInfo {
            transform: translateY(0);
            opacity: 1;
          }
        }
        @media (max-width: $smDesktop) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: $smDesktop) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
