@import "./variables.scss";
@import "./mixins.scss";

.langInfo {
    width: 80%;
    position: relative;
    @media (max-width: 1090px) {
            
    }
    h2 {
        font-size: $largeFontsize;
        color: $primaryTextColor;
    }
    .lang {
        width: 70%;
        padding: 15px;
        .lines {
            color: #ffff;
            background-color: $primaryTextColor;
        }        
    }
    @media (max-width: $smDesktop) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .openForm {
        @media (max-width: 1090px) {
          position: initial;
        }
    }
}
.skillsContainer {
    width: 80%;
}