@mixin titleStyle {
    h1 {
        font-size: 25px;
        color: #26C17E;
    };
    p {
        font-size: 14px;
        color: #667081;
    }
    
}


@mixin buttonStyle {
    font-weight: 500;
    padding: 7px 14px;
    background-color: #26c07d;
    font-weight: 500px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: $secondaryTextcolor;
    }
}