//colors:
$primaryTextColor: #26c07d;
$secondaryTextcolor: #667081;
$backgroundColor: #222935;

//font-size:
$largeFontsize: 25px;
$mediumFontSize: 19px;
$smallFontSize: 14px;

//Line-height
$lineHeighgt: 25px;

// SCREEN BRAKEPOINTS
$smDesktop: 1064px;
$xsDesktop: 1170px;
$smTablet: 769px;
$xsTablet: 580px;